*{
    margin: 0;
}

body{
    margin: 0;
}

#navbar{
    position: fixed;
    width: 520px;
    height: 100%;
    background-color: #333131;
    border-right: solid;
    color: white;
}

#navbar header{
    font-size: 3.797em;
    border-bottom: solid;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#navbar ul{
    list-style-type: none;
    padding-left: 50px;
    padding-top: 30px;
}

#navbar li{
    padding-bottom: 30px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.668em;
    color: white;
}

#main-doc{
    position: absolute;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 560px;
    margin-right: 80px;
    text-align: left;
}

.main-section{
    padding-top: 50px;
    padding-left: 35px;
}

.main-section header{
    font-size: 2.531em;
    padding-bottom: 30px;
}

.main-section p{
    font-size: 1em;
    padding-bottom: 15px;
}

#introduction_img{
    width: 100%;
}